name: Check coding styles

on: 
  pull_request:

  schedule:
    - cron:  '0 6 * * *'

jobs:
  shfmt:
    name: runner / shfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: shfmt
        uses: bltavares/actions/shfmt@master
        env:
          SHFMT_ARGS: -i 4

  shellcheck:
    name: runner / shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: shellcheck
        uses: zbeekman/ShellCheck-Linter-Action@v1.0.1
